<% if flash[:error] -%>
  <p class='error'><%=h flash[:error] %></p>
<% end -%>
<% if flash[:notice] -%>
  <p class='notice'><%=h flash[:notice] %></p>
<% end -%>

<h1>Listing events</h1>
<br />
<strong><%= @length %> events</strong>
<%= link_to "Delete All Events", events_truncate_path, :class => 'button', :confirm => 'Please be sure, this will delete all events' %>
<br />
<table>
  <tr>
    <th>Bands</th>
    <th>Time</th>
    <th>Location</th>
    <th>Venue</th>
    <th>Latitude</th>
    <th>Longitude</th>
	<th>StartTime</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.bands %></td>
    <td><%= event.time %></td>
    <td><%= event.location %></td>
    <td><%= event.venue %></td>
    <td><%= event.latitude %></td>
    <td><%= event.longitude %></td>
    <td><%= event.starttime %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path, :class => 'button' %>
