<div class="infowindow<%= object.id %>">
	<h4><%= object.venue %></h4>

	<div class='showDetailContainer'>
			<div class="showDetails" id="item<%=object.id.to_s%>'">
			
			<%= object.bands.split('|').join(',') %>
			<br />
			<% if (!object.songs.nil?) %>
			  <% object.songs.each do |song| %>
			  	<audio src="<%= song['songurl'] %>" controls></audio><%= song['songname'] %><br />
			  <% end %>
			<% end %>
			<br />
			<%= object.genre %><br />
			<% if(!object.starttime.nil?) %>
				<%= object.starttime.to_s %>
			<% else %>
				<%= object.time.to_s %>
		 	<% end %>
		 	</div>

	</div><!--End detailContainer-->
</div><!--End InfoWindow-->
