<div class="infowindow<%= object.id %>">
	<h4><%= object.venue %></h4>

	<div class='showDetailContainer'>
			<div class="showDetails" id="item<%=object.id.to_s%>'">
			
			<%= object.bands.split('|').join(',') %>
			<br />
			<% if (!object.songs.nil?) %>
			  <% object.songs.each do |song| %>
			  	<%= song['songname'] %>| <a href="#" class="playsong" data-songurl="<%= song['songurl'] %>" data-songname="<%= song['songname'].gsub(/\s+/, "") %>">Play</a><br />
			  <% end %>
			<% end %>
			<br />
			<%= object.genre %><br />
			<% if(!object.starttime.nil?) %>
				<%= object.starttime.to_s %>
			<% else %>
				<%= object.time.to_s %>
		 	<% end %>
		 	</div>

	</div><!--End detailContainer-->
</div><!--End InfoWindow-->
